p {
    font-size: larger;
}

body {
    background-color: violet;
    cursor: url('Design ohne Titel.png'), auto;
}

.navbar {
    background-color: blueviolet;
    font-size: larger;
    border-radius: 25px;
}

.navbar a {           
    text-decoration: none;    
}

.navbar a:hover {           
    font-weight: bold;
}

li {
    list-style-type: none;
    font-size: 25px;
}
a {
    text-decoration: none;
    font-size: larger;
    cursor: url('ok.png'), auto;
}